@model WordsViewModel
@{
    int g = Model.PageSize;
    int a = Model.PageNumber;
    string j = Model.SearchString;
    string o = Model.Filter;
    if (Model.PageNumber < Model.TotalPages)
        a += 1;

    int b = Model.PageNumber;
    if (Model.PageNumber > 1)
        b -= 1;
}
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="~/css/main.css" />
<noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.26/js/jquery.dataTables.js"></script>
<!-- Wrapper -->
<div id="wrapper" class="fade-in">
<!-- Header -->
<header id="header">
</header>
<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li>
            <a  asp-area="" asp-controller="Home" asp-action="Index">Bosh sahifa</a>
        </li>
        <li>
            <a class="active" asp-area="" asp-controller="Home" asp-action="GetAllWordsForUser">So'zlar jadvali</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="LoyihaHaqida">Loyiha haqida</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="PostUser">Aloqa</a>
        </li>
    </ul>
</nav>
    <section id="main">
            <div style="border-radius:10px" class="p-3 bg-white">
                <div class="d-flex justify-content-between">
                    <form method="get" asp-action="GetAllWordsForUser" class="form-group p-2">
                        <label>Qatorlar soni</label>
                        <select asp-for="PageSize" onchange="this.form.submit()" class="form-select">
                            <option value=2>2</option>
                            <option value=10>10</option>
                            <option value=50>50</option>
                            <option value=100>100</option>
                        </select>
                        <label>Turkumlar</label>
                        <select asp-for="Filter" asp-items="@ViewBag.Turkumlar" onchange="this.form.submit()" class="form-select">
                            <option value="">Umumiy</option>
                        </select>
                        <input type="hidden" id="searchString" name="searchString" value="@j" class="form-control" />
                    </form>

                    <form method="get" asp-action="GetAllWordsForUser" class="form-group p-2">
                        <div class="form-group">
                            <input type="text" id="searchString" name="searchString" class="form-control" placeholder="Qidiruv..." value="@j" oninput="delayedSubmit(this)" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" id="pageSize" name="pageSize" value="@g" class="form-control" />
                            <input type="hidden" id="filter" name="filter" value="@o" class="form-control" />
                        </div>
                    </form>
                </div>

                <div class="col-md-12">
                <div class="table-responsive">
                <table id="killen" class="table table-striped table-bordered table-hover dataTables-example" style="margin-left: auto;">
                            <thead class="txt">
                                <tr>
                                    <th scope="col">#</th>
                                    <th style="width: 8%; ">
                                        Adabiy Til
                                        <br />
                                        <button class="sort-btn" onclick="sortTable('AdabiyTil', this)" data-sort="asc">
                                            <span style="color: black;">&#8639;&#8642;</span>
                                        </button>
                                    </th>
                                    <th style="width: 12%; ">
                                        Transliteratsiya
                                        <br />
                                    <button class="sort-btn" onclick="sortTable('Transliteratsiya')">
                                            <span style="color: black;">&#8639;&#8642;</span>
                                        </button>
                                    </th>
                                    <th style="width: 10%; ">
                                        Transkripsiya
                                <br />
                                        <button class="sort-btn" onclick="sortTable('Transkripsiya')">
                                            <span style="color: black;">&#8639;&#8642;</span>
                                        </button>
                                    </th>
                                    <th style="width: 6%; ">
                                        Turkum
                                <br />
                                        <button class="sort-btn" onclick="sortTable('Transliteratsiya')">
                                            <span style="color: black;">&#8639;&#8642;</span>
                                        </button>
                                    </th>
                                    <th style="width: 10%; ">
                                        Sheva Izohi
                                <br />
                                        <button class="sort-btn" onclick="sortTable('ShevaIzohi')">
                                            <span style="color: black;">&#8639;&#8642;</span>
                                        </button>
                                    </th>
                                    <th style="width: 10%; ">
                                        Misollar
                                <br />
                                        <button class="sort-btn" onclick="sortTable('Misollar')">
                                            <span style="color: black;">&#8639;&#8642;</span>
                                        </button>
                                    </th>
                                    <th style="width: 10%; ">
                                        Sinonim
                                <br />
                                        <button class="sort-btn" onclick="sortTable('Sinonim')">
                                            <span style="color: black;">&#8639;&#8642;</span>
                                        </button>
                                    </th>
                                    <th style="width: 10%; ">
                                        Omonim
                                <br />
                                        <button class="sort-btn" onclick="sortTable('Omonim')">
                                            <span style="color: black;">&#8639;&#8642;</span>
                                        </button>
                                    </th>
                                    <th style="width: 10%; ">
                                        Antonim
                                <br />
                                        <button class="sort-btn" onclick="sortTable('Antonim')">
                                            <span style="color: black;">&#8639;&#8642;</span>
                                        </button>
                                    </th>
                                    <th style="width: 10%; ">
                                        Ozlashgan Qatlam
                                <br />
                                        <button class="sort-btn" onclick="sortTable('OzlashganQatlam')">
                                            <span style="color: black;">&#8639;&#8642;</span>
                                        </button>
                                    </th>
                                    <th style="width: 15%; ">
                                        Rus Tilida
                                <br />
                                        <button class="sort-btn" onclick="sortTable('RusTilida')">
                                            <span style="color: black;">&#8639;&#8642;</span>
                                        </button>
                                    </th>
                                    <th style="width: 200px; ">
                                        Ingiliz Tilida
                                <br />
                                        <button class="sort-btn" onclick="sortTable('IngilizTilida')">
                                            <span style="color: black;">&#8639;&#8642;</span>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="userTableBody" class="txt">
                                @{
                                    int i = 1;
                                    foreach (var word in Model.Words)
                                    {
                                        <tr>
                                            <th scope="row">@i</th>
                                            <td>@word.AdabiyTil</td>
                                            <td>@word.Transliteratsiya</td>
                                            <td>@word.Transkripsiya</td>
                                            <td>@word.Turkum</td>
                                            <td>@word.ShevaIzohi</td>
                                            <td>@word.Misollar</td>
                                            <td>@word.Sinonim</td>
                                            <td>@word.Omonim</td>
                                            <td>@word.Antonim</td>
                                            <td>@word.OzlashganQatlam</td>
                                            <td>@word.RusTilida</td>
                                            <td>@word.IngilizTilida</td>
                                        </tr>
                                        i += 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>


                <a asp-action="GetAllWordsForUser" asp-route-pageSize="@g" asp-route-pageNumber="@b" asp-route-searchString="@j" class="btn btn-outline-light text-black">
                    &lt;&lt;
                </a>
                <section class="form-check-inline text-center m-auto">@Model.PageNumber/@Model.TotalPages</section>
                <a asp-action="GetAllWordsForUser" asp-route-pageSize="@g" asp-route-pageNumber="@a" asp-route-searchString="@j" class="btn btn-outline-light text-black">
                    >>
                </a>
            </div>
    </section>

<div id="foot" style="background-color: #323030;">
    <div class="containerr" style="background-color: #323030;">
        <section id="footer">
            <div class="containerr" style="background-color: #323030;">
                <div class="row" style="background-color: #323030;">
                    <div class="col-4 col-6-medium col-12-small">
                        <section>
                            <header>
                                <h2>Foydali havolalar</h2>
                            </header>
                            <ul class="divided">
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://edu.uz/uz">O`zbekiston Respublikasi Oliy va o`rta maxsus ta`lim vazirligi</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="http://tersu.uz/">Termiz Davlat Universiteti</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="http://uzswlu.uz/">O`zbekiston Davlat Jahon Tillari Universiteti</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://navoiy-uni.uz/">Toshkent davlat o‘zbek tili va adabiyoti universiteti</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://tsuos.uz/ru/">Toshkent davlat sharqshunoslik universiteti</a></li>

                            </ul>
                        </section>
                    </div>
                    <div class="col-4 col-6-medium col-12-small">
                        <section>
                            <header>
                                <h2>Foydali havolalar</h2>
                            </header>
                            <ul class="divided">
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://idioms.uz">O'zbek Milliy korpusida idiomalar bazasi</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://saviya.uz/">Saviya.uz - Adabiyot. Hayot. Kamolot</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="http://ziyonet.uz/">ZiyoNET ta'lim portali</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://fledu.uz/">O‘zbekistonda xorijiy tillar onlayn jurnali</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://ulugov.uz">TAS-IX saytlari ro'yxati</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-4 col-12-medium">
                        <section>
                            <header>
                                <h2>Muallif maqolalari</h2>
                            </header>
                            <ul class="divided">
                                <li class="nav-item">
                                    <a class="nav-link text-white" target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru#d=gs_md_cita-d&u=%2Fcitations%3Fview_op%3Dview_citation%26hl%3Dru%26user%3DAKN8_B8AAAAJ%26citation_for_view%3DAKN8_B8AAAAJ%3AhqOjcs7Dif8C%26tzom%3D-300">
                                        Peech Genres Of Texsts And Passport MeteMetrics In The Dialect Corpus(Baysun District On The Example Of The Sound “J” Dialects)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru#d=gs_md_cita-d&u=%2Fcitations%3Fview_op%3Dview_citation%26hl%3Dru%26user%3DAKN8_B8AAAAJ%26citation_for_view%3DAKN8_B8AAAAJ%3A_FxGoFyzp5QC%26tzom%3D-300">
                                        TRANSCRIPTION IN THE CORPUS OF THE UZBEK NATIONAL BOYSUN DIALECT (On the example of Baysun District “J” Dialects)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru#d=gs_md_cita-d&u=%2Fcitations%3Fview_op%3Dview_citation%26hl%3Dru%26user%3DAKN8_B8AAAAJ%26citation_for_view%3DAKN8_B8AAAAJ%3AUebtZRa9Y70C%26tzom%3D-300">
                                        EXPRESSION OF SITUATIONAL VERBS RELATED TO BOYSUN DIALECT IN THE UZBEK NATIONAL CORPS. (USING THE LETTER "J" IN THE DIALECT OF BOYSUN DISTRICT AS AN EXAMPLE)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru">
                                        Boshqa maqolalar
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>
    var delayTimer;

    function delayedSubmit(input) {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(function () {
            input.form.submit();
        }, 1000);
    }
</script>

<script>
    document.getElementById('pageSizeSelect').addEventListener('change', function () {
        this.form.submit();
    });
</script>


<style>

#killen thead {
    font-size: 500px;
}

    .sort-btn {
        border: none;
        padding: 2px 5px;
        font-size: 14px;
        cursor: pointer;
        transition: color 0.3s ease; /* Transition only the color */
        box-sizing: border-box;
    }

    .sortable-header {
        display: flex;
        align-items: center; /* Center vertically */
        justify-content: space-between; /* Space between items */
    }

    .header-content {
        display: flex;
        align-items: center; /* Center vertically */
    }

    .header-text {
        flex-grow: 1; /* Allow the text to grow to fill the space */
        white-space: nowrap; /* Prevent text from wrapping */
        overflow: hidden; /* Hide overflow */
        text-overflow: ellipsis; /* Show ellipsis for overflow */
        margin-right: 10px; /* Add a small margin between text and button */
    }

</style>



<script>
    let sortDirection = 'asc';

    function sortTable(columnName) {
        const tableBody = document.getElementById('userTableBody');
        const rows = Array.from(tableBody.getElementsByTagName('tr'));

        rows.sort((a, b) => {
            const aValue = a.cells[columnIndex[columnName]].innerText.toLowerCase();
            const bValue = b.cells[columnIndex[columnName]].innerText.toLowerCase();

            if (sortDirection === 'asc') {
                return aValue.localeCompare(bValue);
            } else {
                return bValue.localeCompare(aValue);
            }
        });

        tableBody.innerHTML = '';
        rows.forEach((row, index) => {
            // Update the number in the first column
            row.cells[0].innerText = index + 1;
            tableBody.appendChild(row);
        });

        // Toggle sort direction
        sortDirection = sortDirection === 'asc' ? 'desc' : 'asc';

        // Update button styles
        updateButtonStyles(columnName);
    }

    // Helper object to store column indices
    const columnIndex = {
        'AdabiyTil': 1,
        'Transliteratsiya': 2,
        'Transkripsiya': 3,
        'Turkum': 4,
        'ShevaIzohi': 5,
        'Misollar': 6,
        'Sinonim': 7,
        'Omonim': 8,
        'Antonim': 9,
        'OzlashganQatlam': 10,
        'RusTilida': 11,
        'IngilizTilida': 12,
    };
</script>

<!-- Scripts -->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.scrollex.min.js"></script>
<script src="~/js/jquery.scrolly.min.js"></script>
<script src="~/js/browser.min.js"></script>
<script src="~/js/breakpoints.min.js"></script>
<script src="~/js/util.js"></script>
<script src="~/js/main.js"></script>
