@model WordsViewModel
@{
    ViewData["Title"] = "GetAllWords";
    int g = Model.PageSize;
    int a = Model.PageNumber;
    string j = Model.SearchString;
    if (Model.PageNumber < Model.TotalPages)
        a += 1;

    int b = Model.PageNumber;
    if (Model.PageNumber > 1)
        b -= 1;
}

<form method="get" asp-action="GetAllWords" class="form-group">
    <div class="form-group">
        <label>Search</label>
        <input type="text" id="searchString" name="searchString" class="form-group" placeholder="Search..." oninput="delayedSubmit(this)" />
    </div>
    <div class="form-group">
        <input type="hidden" id="pageSize" name="pageSize" value="@g" class="form-group" />
    </div>
</form>

<form method="get" asp-action="GetAllWords" class="form-group">
    <label>Page Size</label>
    <select asp-for="PageSize" onchange="this.form.submit()">
        <option >select</option>
        <option value=2>2</option>
        <option value=10>10</option>
        <option value=50>50</option>
        <option value=100>100</option>
    </select>
</form>

<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
    }

    form {
        margin-bottom: 20px;
    }

    select {
        margin-right: 10px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 30px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        word-wrap: break-word; /* Add this line to enable word wrapping */
        max-width: 100px; /* Adjust the max-width as needed */
    }

    th {
        background-color: #f2f2f2;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

        .pagination a {
            margin: 0 5px;
        }
</style>

<div class="table-container">
    <table class="table table-striped table-responsive table-bordered dataTable datatable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th>Adabiy Til</th>
                <th>Transliteratsiya</th>
                <th>Transkripsiya</th>
                <th>Turkum</th>
                <th>Sheva Izohi</th>
                <th>Misollar</th>
                <th>Sinonim</th>
                <th>Omonim</th>
                <th>Antonim</th>
                <th>Ozlashgan Qatlam</th>
                <th>Rus Tilida</th>
                <th>Ingiliz Tilida</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var word in Model.Words)
                {
                    <tr>
                        <td>
                            <a asp-controller="Word" asp-action="EditWord" asp-route-id="@word.id" class="btn btn-outline-primary btn-m1">
                                Edit
                            </a>
                            <a asp-controller="Word" asp-action="DeleteWord" asp-route-id="@word.id" class="btn btn-outline-danger btn-m1">
                                Delete
                            </a>
                        </td>
                        <th scope="row">@i</th>
                        <td>@word.AdabiyTil</td>
                        <td>@word.Transliteratsiya</td>
                        <td>@word.Transkripsiya</td>
                        <td>@word.Turkum</td>
                        <td>@word.ShevaIzohi</td>
                        <td>@word.Misollar</td>
                        <td>@word.Sinonim</td>
                        <td>@word.Omonim</td>
                        <td>@word.Antonim</td>
                        <td>@word.OzlashganQatlam</td>
                        <td>@word.RusTilida</td>
                        <td>@word.IngilizTilida</td>
                    </tr>
                    i += 1;
                }
            }
        </tbody>
    </table>
</div>
@{
    <a asp-action="GetAllWords" asp-route-pageSize="@g" asp-route-pageNumber="@b" asp-route-searchString ="@j" class="btn btn-outline-light text-black">
        &lt;&lt;
    </a>
    <section class="form-check-inline text-center m-auto">@Model.PageNumber/@Model.TotalPages</section>
    <a asp-action="GetAllWords" asp-route-pageSize="@g" asp-route-pageNumber="@a" asp-route-searchString="@j" class="btn btn-outline-light text-black">
        >>
    </a>
}

<script>
    var delayTimer;

    function delayedSubmit(input) {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(function () {
            input.form.submit();
        }, 1000);
    }
</script>

<script>
    document.getElementById('pageSizeSelect').addEventListener('change', function () {
        this.form.submit();
    });
</script>