@model IQueryable<Word>

<h2>Words</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>Adabiy Til</th>
            <th>Transliteratsiya</th>
            <th>Transkripsiya</th>
            <th>Turkum</th>
            <th>Sheva Izohi</th>
            <th>Misollar</th>
            <th>Sinonim</th>
            <th>Omonim</th>
            <th>Antonim</th>
            <th>Ozlashgan Qatlam</th>
            <th>Rus Tilida</th>
            <th>Ingiliz Tilida</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var word in Model)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@word.AdabiyTil</td>
                    <td>@word.Transliteratsiya</td>
                    <td>@word.Transkripsiya</td>
                    <td>@word.Turkum</td>
                    <td>@word.ShevaIzohi</td>
                    <td>@word.Misollar</td>
                    <td>@word.Sinonim</td>
                    <td>@word.Omonim</td>
                    <td>@word.Antonim</td>
                    <td>@word.OzlashganQatlam</td>
                    <td>@word.RusTilida</td>
                    <td>@word.IngilizTilida</td>
                </tr>
                i += 1;
            }
        }
    </tbody>
</table>